server:
  port: 8080

spring:
  application:
    name: devloomx-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # automatically discover services from Eureka
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=1

eureka:
  client:
    serviceUrl:
      defaultZone:
        - http://localhost:8761/eureka/
        - http://localhost:8762/eureka/
